[client]
socket = /tmp/mysql.sock

[mysql]
default-character-set=utf8mb4

[mysqld]
explicit_defaults_for_timestamp = true
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY

character_set_server = utf8mb4
init_connect = "SET SESSION time_zone = CASE WHEN POSITION('rds' IN CURRENT_USER()) = 1 THEN 'UTC' ELSE 'Asia/Tokyo' END;"
long_query_time = 5
slow_query_log = true

datadir = /var/lib/mysql
